{% extends 'base.html.twig' %}

{% block title %} Create New Player {% endblock %}

{% block stylesheets %}
    <link href="/css/player.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1> Create New Player </h1>

    {# ************************* Add Flash Error Message ************************* #}
    {% include '/flashErrorMessage.html.twig' %}

    <form action="/player/processCreateNewPlayer" method="POST">
        <p>
            <label for="playerFirstName">
                First Name: <input type="text" class="player-first-name" id="playerFirstName" name="playerFirstName">
            </label>
        </p>
        <p>
            <label for="playerSurname">
                Surname: <input type="text" class="player-surname" id="playerSurname" name="playerSurname">
            </label>
        </p>
        <p>
            <label for="playerAge">
                Age: <input type="number" min="16" max="45" class="player-age" id="playerAge" name="playerAge">
            </label>
        </p>
        <p>
            <label for="playerNationality">
                Nationality: <input type="text" class="player-nationality" id="playerNationality" name="playerNationality">
            </label>
        </p>
        <p>
            <label for="playerClub">
                Club: <input type="text" class="player-club-name" id="playerClubName" name="playerClubName">
            </label>
        </p>
        <br>
        <input type="submit" value="Create New Student">
    </form>
{% endblock %}