/*************** Creating a new Player twig page ***************/
.player-first-name,
.player-surname,
.player-age,
.player-nationality,
.player-club-name {
    background-color: #ffcc00;
}
#playerFirstName {
    color: blue;
    background: #C82829;
}
.player-column-width {
    display: inline-block;
    width: 12vmax;
}