{% extends 'base.html.twig' %}

{% block title %} Home Page {% endblock %}

{% block body %}
    <h1> Soccer League </h1>
    <p>
        <strong> {{ name }} </strong>, Welcome to our new Web-App!
    </p>
    <br>
    <p>
        <a href="{{ url('players_list') }}"> List of Players </a>
    </p>
{% endblock %}
